/*                                          */

* {box-sizing: border-box;}

body {
  width: 90%;
  background-color: #EEF3FA;
  margin: auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.1rem;
}

ul {
  list-style-type: none;
}

h1.pageheading {
  color: #937BBB;
  background-color: white;
  text-align: center;
  font-size: 3em;
  padding-top: 4%;
  padding-bottom: 2%;
}

h2 { 
  color: #937BBB;
  padding-top: none;
  padding-bottom: .5rem;
}

h3 {
  color: white;
  padding-top: none;
  padding-bottom: .75rem;
  text-align: center;
  font-size: 1.2rem;
}

h3:hover {
  color: #937BBB;
  background-color: white;
  padding-top: none;
  padding-bottom: .75rem;
  text-align: center;
  font-size: 1rem;
}

ul.topnav {
  background-color: #6D519C;
  text-align: center;
  font-weight: 600;
  color: white;
}

nav ul.topnav li {
  display: inline-block;
  background-color: #8468B3;
  width: 13.95%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

aside {
  clear: both;
  height: 36rem;
  width: 20%;
  float: left;
  background-color: #C0B2D5;
  padding-top: 6%;
}

ul.photolist {
  color: white;
  margin: auto;
}

ul.photolist li {
  text-align: center;
  display: block;
  padding-top: 1rem;
  padding-bottom: .5rem;
  font-weight: 600;
}

ul.flowerlist {
  color: white;
  margin: auto;
}

ul.flowerlist li {
  text-align: center;
  display: block;
  padding-top: 5.2rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  height: 7rem;
  width: 7rem;
  border: 1px solid #8468B3;
}

ul.flowerlist li:hover {
  height: 8rem;
  width: 7rem;
  border: 2px dotted #8468B3;
}

img.flower {
  height: 18rem;
  padding-top: 2rem;
}

ul.line li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul.line img {
  height: 17rem;
  padding-top: 2rem;
}

article {
  width: 80%;
  height: 36rem;
  float: right;
  text-align: center;
  padding: 7%;
  padding-top: 5%;
  background-color: #E1E4E9;
}

article p {
  padding-top: 4%;
  font-size: 1.2em;
  line-height: 1.2em;
}

footer {
  clear: both;
  text-align: center;
}

footer li {
  display: inline-block;
  text-align: center;
  width: 8%;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

footer li img {
  width: 100%;
}

aside.fruitwarning p {
  padding-top: 4%;
  font-size: 1em;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
  
aside.fruitwarning p:hover {
  color: white;
  background-color: #8468B3;
}

a:link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #C0B2D5;
  font-weight: 600;
}

a:active {
  text-decoration: none;
  color: white;
  font-weight: 600;
}






